@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#send_feedback:hover {
    background-color: rgb(207, 207, 207);
    color: #000000;
    font-size: 12pt;
    transition: 1s;
}

#message_field {
    margin-top: 10pt;
    width: 250pt;
    font-family: 'Source Code Pro', serif;
}

#send_form {
    background-color: rgb(172, 172, 172);
    color: rgba(35,44,57,255);
}

#send_form:hover {
    background-color: white;
    transition: background-color 0.5s;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 300pt auto;
    padding: 20px;
    width: 80%;
    border-style: none;
    border-radius: 5pt;
}
  
/* The Close Button */
.close {
    color: rgb(172, 172, 172);
    float: right;
    font-size: 15pt;
    font-weight: bold;
    padding: 5pt;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.7s 
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: rgba(35,44,57,255);
    color: white;
    height: 40pt;
    display: flex;
    justify-content: space-between;
}

.modal-header b {
    padding-top: 8pt;
}
  
/* Modal Body */
.modal-body {
    padding: 2px 16px;
    margin: 5pt;
    background-color: #88888825;
    border-radius: 8pt;
    box-shadow: 0px 0px 0px 3px rgba(224, 224, 224, 0.247);
}

.modal-body input {
    margin-top: 5pt;
    font-family: 'Source Code Pro', serif;
    width: 250pt;
}

.modal-body input:hover {
    background-color: rgba(35, 44, 57, 0.548);
}

.modal-body input:hover::placeholder {
    color: rgb(255, 239, 239);
}
  
/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: rgba(35,44,57,255);
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    margin-top: 300pt;
    width: 300pt;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.7s;
}

.modal-footer input {
    margin: 5pt;
    border-color: #e4e4e4;
    background-color: #000000;
    border-style: none;
    color: #e4e4e4;
    border-radius: 3pt;
    height: 25pt;
    font-size: 12pt;
    font-weight: bold; 
    width: 70pt;
}

  
/* Add Animation */
@keyframes animatetop {
    from {top: -300pt; opacity: 0}
    to {top: 0pt; opacity: 1}
}